---
layout: blog
title: Blog
description: "Blog posts by Ashish Sethi on Machine Learning, Computer Vision, and Software Engineering"
---

<div class="blog-index">
  <div class="blog-header">
    <h1 class="blog-title">Blog Posts</h1>
  </div>
  
  <ul class="post-list">
  {% for post in site.posts %}
    <li class="post-item">
      <a href="{{ post.url | relative_url }}" class="post-link">{{ post.title }}</a>
      {% if post.description %}
      <p class="post-description">{{ post.description }}</p>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
