<div class="row">
  <h2>About Me</h2>
  <hr>
  <div class="col-sm-3">
    <div>
      <img src="../static/img/ashish.jpg" width="100%">
    </div>
  </div>
  <div class="col-sm-8">
    <ul class="content">
      <li>Staff Machine Learning Engineer at <a href="https://www.lightmetrics.co/">LightMetrics</a></li>
      <li>Masters in Computer Science (specialization in Artificial Intelligence), IIIT Delhi</li>
      <li>B.Tech in Computer Science and Engineering, GGSIPU, Delhi</li>
    </ul>
    <p class="content">I work at the junction of software engineering and AI research. I am excited about building
      large-scale machine learning systems and care a lot about writing neat and clean software.
    </p>

    <p class="content">Important links:

      <a class="btn btn-social-icon btn-github" target="_blank" href="https://github.com/geekysethi">
        <span class="fa fa-github"></span>
      </a>
      <a class="btn btn-social-icon btn-linkedin" target="_blank" href="https://www.linkedin.com/in/ashish18024/">
        <span class="fa fa-linkedin"></span>
      </a>
      <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/sethiashish20" target="_blank">
        <span class="fa fa-twitter"></span>
      </a>

      
  </div>
</div>
