<div class="row">

  <h2>Educational Qualifications</h2>
  <hr>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Masters in Computer Science</h3>
      <h4 class="content_heading">  Indraprastha Institute of Information Technology Delhi</h4>
        <p class="content">Specialization in Artificial Intelligence</p>
        <!-- <p class="content">Expected Graduation: December 2018</p>
        <p class="content">Current GPA: <em>4.0/4.0</em></p> -->

      </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/iiitd_2.jpg" width="80%">
      <p>(August 2018 - August 2020)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Bachelor of Technology in Electronics and Communication Engineering</h3>
      <h4 class="content_heading">Guru Gobind Singh Indraprastha University, Delhi</h4>
        <!-- <p class="content">Passed with an aggregate of <em>78%(with Hons.)</em></p>
        <p class="content">Class Rank: <em>9th rank (or top-6%)</em></p> -->
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/ggsipu.png" width="50%">
      <p>(August 2014 - June 2018)</p>
    </div>
  </div>

</div>