---
layout: blog
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%B %d, %Y" }}
      </time>
      {% if page.categories.size > 0 %}
      <span class="post-categories">
        in 
        {% for category in page.categories %}
        <span class="category">{{ category }}</span>
        {% endfor %}
      </span>
      {% endif %}
    </div>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
</article>
